Binaries
Build
DerivedDataCache
Intermediate
Saved

Content/StarterContent/
Content/Maps/
Content/Shader_Map_Content/WorldShaders/Textures
*.VC.db

*.opensdf

*.opendb

*.sdf

*.sln

*.suo

*.xcodeproj

*.xcworkspace

*BuiltData.uasset

*.vs

temp 